/*
CSS for bueler.github.io, thanks to help from Thomas
*/

body {
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size:100%;
  margin: 0;
  padding: 0;
}

h1 {
  text-align:center;
}

h3 {
    padding: 5px;
}

table {
  border-collapse: collapse;
  width: 90%;
}

th,td {
  padding:2px;
  text-align: left;
}

th {
  font-size: 110%;
}


ul {
    position: relative;
    display: inline-block;
}

ul ul {
    display: none;
    position: absolute;
    left: 0;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
}

li:hover ul {
    display: block;
    margin:0;
    padding: 0;
}

.links li {
    display:inline;
    position: relative;
    text-align: left;
    padding:12px;
    cursor:pointer;
    background-color:
}

.links li li {
    display: block;
}

.links {
    text-align: center;
}

.sidebar {
    background-color:#626266;
    color:white;
    width:250px;  /* to change, also change: width of header and boxes in .js */
    position:absolute;
    top:0;
    left:0;
    height:100%;
    padding: 10px;
    padding-top: 50px;
    padding-right: 10px;
    display: block;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

input {
      display: block;
      width: 40px;
      height: 46px;
      position: absolute;
      top: 10px;
      left: 5px;
      cursor: pointer;
      opacity: 0; /* hide this */
      z-index: 1000; /* and place it over the hamburger */
      -webkit-touch-callout: none;
}

span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  top:-110px;
  left:20px;
  background: black;
  border-radius: 3px;
  z-index: 999;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

span:first-child {
  transform-origin: 0% 0%;
}

span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

input:checked ~ span:nth-last-child(3) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -3px);
}

input:checked ~ span.last {
  opacity: 0;
  transform: rotate(-0deg) translate(0, -1px);
}

input:checked ~ .sidebar #menu {
    transform: scale(1.0, 1.0);
    opacity: 1;
}

input:not(:checked) ~ .sidebar #menu {
  display:none;
}

input:not(:checked) ~ .sidebar {
  display:none;
}

#main {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding-left: 50px;
  padding-top: 125px;
  height: 100%;
  background-color:#626266;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.main {
    position: relative;
    left: 310px;
    width: calc(100% - 335px)
}

.post {
    background-color:#d6d6d6;
    padding:5px;
    border-radius: 7px;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 4px 13px 0 rgba(0, 0, 0, 0.39);*/
}

.header {
    position: relative;
    left: 310px;
    /*width: calc(100% - 365px);*/
}

a:link {   /* unvisited link */
    color: #66686b;
    text-decoration: none;
}

.sidebar a:link, .sidebar a:visited {
    color: #d4d8dd;
}

.sidebar li {
    list-style: none;
    font-size: 1.1em;
}

.sidebar ul {
    padding-left: 10px;
}

h2.hamburgerTag {
    position:absolute;
    font-size:1.3em;
    top:0px;
    left: 70px;
    z-index:1000;
}

.sidebar h3 {
    font-size: 1.1em;
    margin-top: 17px;
    margin-bottom: 3px;
}

a:visited {
    color: #66686b;
    text-decoration: none;
}

a:hover {  /* mouse over link */
    color: black;
    text-decoration: none;
}

a:active { /* selected link */
    color: blue;
    text-decoration: none;
}

.pic img {
    width:100%;
    border-radius: 7px;
}

.socialmedia {
    position: absolute;
    top:-5px;
    right:10px;
}

#white {
    color: white;
}

input:checked ~ .hamburgerTag {
    color:white;
}

input:not(:checked) ~ .hamburgerTag {
    color:black;
}

@media (max-width: 1100px) {
    .main {
        left:0px;
        width:100%;
        padding-left:5px;
        padding-right:10px;
    }
    .sidebar {
        z-index:100;
    }
    .header {
        left:0;
        width:100%;
    }
    input {
        top:2px;
    }
}
